html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.no-radius,
.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"] {
    vertical-align: middle;
}

input[type="text"]:focus,
input[type="email"]:focus {
    color: #111;
    border-color: rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    outline: none;
}

.button {
    margin-top: 20px;
    background: #fff;
    color: #212121;
    border: 1px solid #212121;
    font-weight: 400;
    padding: 10px 25px;
    float: left;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.small-button {
    background: #fff;
    color: #212121;
    border: 1px solid #212121;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.button:hover,
.small-button:hover {
    color: #fff;
    background: #212121;
}

.button i {
    margin-right: 10px;
}

thead {
    background: #212121;
    color: #fff;
}

thead th {
    font-size: 20px;
    padding: 10px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 120px; /* Height of the footer element */
}

/***FOOTER****/

#footer {
    background: #212121;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p {
    padding-top: 30px;
}

.footer-social a.social {
    width: 20px;
    height: 20px;
    position: relative;
    left: 75%;
    bottom: 35px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-social a.social i {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.footer-social a.social:hover {
    color: #111;
}

.footer-social a.social:hover {
    background: #fff;
}

form.ng-invalid-required,
input.ng-invalid-required.ng-dirty,
input.ng-invalid-email.ng-dirty {
    border-color: #a94442;
}

.error {
    color: red;
}