<div class="modal-fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">

            <h2 class="modal-title text-center">Contact Detail</h2>
        </div>
        <div class="modal-body">
            <p><label>Name:</label> {{vm.contact.name}}</p>
            <p><label>Address:</label> {{vm.contact.address.street}}, {{vm.contact.address.city}}</p>
            <p><label>Email:</label> {{vm.contact.email}}</p>
            <p><label>Phone:</label> {{vm.contact.phone}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.cancel()">OK</button>
        </div>
    </div>
</div>

