<div class="page-header">
    <h2>Contacts <span class="label label-default">{{contacts.length}}</span></h2>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Go to detail</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in contacts | orderBy: 'name'| filter:search">
        <td>{{contact.name}}</td>
        <td>{{contact.username}}</td>
        <td>
            <a ui-sref="contacts.detail({contactId: contact.id})" ng-click="showContact(contact)"
               class="btn btn-default">Detail</a>
        </td>
        <td>
            <a ui-sref="contacts.edit({editId: contact.id})" class="btn btn-primary" ng-click="editContact(contact)">
                <i class="fa fa-pencil" aria-hidden="true"></i>{{contact.id}}</a>
            <a class="btn btn-danger" ng-click="deleteContact(contact.id)">
                <i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<a class="btn btn-success" ng-click="showAddNewContactForm()"><i class="fa fa-user" aria-hidden="true"></i>  Add New Contact</a>


