<div class="page-header">
    <h2>Contacts <span class="label label-default">{{vm.contacts.length}}</span></h2>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Go to detail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in vm.contacts | orderBy: 'name'| filter:search">
            <td>{{contact.name}}</td>
            <td>{{contact.username}}</td>
            <td>{{contact.email}}</td>
            <td>
                <a ui-sref="contacts.preview({id: contact.id})" ng-click="vm.showContact(contact)"
                   class="btn btn-default">Detail</a>
            </td>
            <td>
                <a ui-sref="contacts.edit({id: contact.id})" class="btn btn-primary"
                   ng-click="vm.editContact(contact)">
                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a class="btn btn-danger" ng-click="vm.deleteContact(contact.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a class="btn add-contact" ui-sref="contacts.add" ng-click="vm.editContact({})">
    <i class="fa fa-user" aria-hidden="true"></i> Add New Contact</a>


