<div class="modal-fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ok()"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h2 class="modal-title text-center">Edit Contact</h2>
        </div>
        <div class="modal-body">
            <form name="editForm">
                <label for="name" class="control-label">Name:</label>
                <input type="text" name="name" id="name" class="form-control" ng-model="contact.name">
                <label for="street" class="control-label">Address street:</label>
                <input type="text" name="street" id="street" class="form-control" ng-model="contact.address.street">
                <label for="city" class="control-label">Address street:</label>
                <input type="text" name="city" id="city" class="form-control" ng-model="contact.address.city">
                <label for="email" class="control-label">Email:</label>
                <input type="text" name="email" id="email" class="form-control" ng-model="contact.email">
                <label for="phone" class="control-label">Phone:</label>
                <input type="text" name="phone" id="phone" class="form-control" ng-model="contact.phone">
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button class="btn btn-default" ng-click="ok()">Cancel</button>
        </div>
    </div>
</div>

